<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XtremePharmacyManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XtremePharmacyManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="domain" value="localhost" />
    <add key="dbname" value="XTremePharmacyDB" />
    <add key="dbuser" value="" />
    <add key="dbpassword" value="" />
    <add key="company_name" value="Your Company Name" />
    <add key="current_culture" value="en-US" />
    <add key="report_directory" value="Reports" />
    <add key="emp_report_name" value="EmployeeReport" />
    <add key="cl_report_name" value="ClientReport" />
    <add key="pb_report_name" value="ProductBrandReport" />
	<add key="pv_report_name" value="ProductVendorReport" />
    <add key="pm_report_name" value="PaymentMethodReport" />
    <add key="ds_report_name" value="DeliveryServiceReport" />
    <add key="p_report_name" value="ProductReport" />
    <add key="po_report_name" value="ProductOrderReport" />
    <add key="poi_report_name" value="ProductOrderInvoiceReport" />
    <add key="od_report_name" value="OrderDeliveryReport" />
    <add key="odi_report_name" value="OrderDeliveryInvoiceReport" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <XtremePharmacyManager.Properties.Settings>
      <setting name="ID" serializeAs="String">
        <value>ID</value>
      </setting>
      <setting name="ProductID" serializeAs="String">
        <value>Product ID</value>
      </setting>
      <setting name="LogID" serializeAs="String">
        <value>Log ID</value>
      </setting>
      <setting name="LogDate" serializeAs="String">
        <value>Date:</value>
      </setting>
      <setting name="LogTitle" serializeAs="String">
        <value>Title:</value>
      </setting>
      <setting name="LogMessage" serializeAs="String">
        <value>Message:</value>
      </setting>
      <setting name="AdditionalLogInformation" serializeAs="String">
        <value>Additional Information:</value>
      </setting>
    </XtremePharmacyManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <XtremePharmacyManager.Properties.Settings>
      <setting name="ImageName" serializeAs="String">
        <value>Image Name</value>
      </setting>
      <setting name="ImageData" serializeAs="String">
        <value>Image Data</value>
      </setting>
    </XtremePharmacyManager.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>